In [1]:
import pandas as pd

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_vaccines = pd.read_excel("COV_vaccine_report_6Jan.xlsx")

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df_vaccines.columns = ['sr_no', 'state', 'first_dose' , 'second_dose', 'total_doses' , '15_18_first_dose']
df_vaccines = df_vaccines.iloc[9:]

In [4]:
df_vaccines.dtypes

sr_no               object
state               object
first_dose          object
second_dose         object
total_doses         object
15_18_first_dose    object
dtype: object

In [5]:
cols_to_check = ['first_dose', 'second_dose', 'total_doses', '15_18_first_dose']

In [6]:
df_vaccines[cols_to_check] = df_vaccines[cols_to_check].replace({',':''}, regex=True)

In [7]:
df_vaccines[cols_to_check] = df_vaccines[cols_to_check].astype(str).astype(int)

In [8]:
# Next step: Making a heat map of which states have highest total doses given and 
# how that compares to how quickly 15-18 year olds are getting vaccinated

In [9]:
# df.sort_values(by='total_doses', ascending=False)

In [10]:
df_vaccines.head(5)

,sr_no,state,first_dose,second_dose,total_doses,15_18_first_dose
9,1,A & N Islands,303014,295445,598459,8198
10,2,Andhra Pradesh,40040106,30341059,70381165,1563014
11,3,Arunachal Pradesh,810353,654613,1464966,8685
12,4,Assam,21886756,16193435,38080191,433952
13,5,Bihar,58366285,43160749,101527034,1103844

In [11]:
df_vaccines.to_excel("vaccines_jan6.xlsx")