In [1]:
import pandas as pd
import numpy as np

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_population = pd.read_excel("population_indian_states.xlsx")

In [3]:
df_population.dtypes

state         object
population    object
dtype: object

In [4]:
df_population.columns

Index(['state', 'population'], dtype='object')

In [5]:
df_population['population'] = df_population['population'].replace({',':''}, regex=True)

In [6]:
df_population['population'] = df_population['population'].astype(str).astype(int)

In [7]:
df_population

                                   state  population
0                          Uttar Pradesh   199812341
1                            Maharashtra   112374333
2                                  Bihar   104099452
3                            West Bengal    91276115
4                         Madhya Pradesh    72626809
5                             Tamil Nadu    72147030
6                              Rajasthan    68548437
7                              Karnataka    61095297
8                                Gujarat    60439692
9                         Andhra Pradesh    49386799
10                                Odisha    41974218
11                             Telangana    35193978
12                                Kerala    33406061
13                             Jharkhand    32988134
14                                 Assam    31205576
15                                Punjab    27743338
16                          Chhattisgarh    25545198
17                               Haryana    25351462
18                                 Delhi    16787941
19                       Jammu & Kashmir    12258433
20                           Uttarakhand    10086292
21                      Himachal Pradesh     6864602
22                               Tripura     3673917
23                             Meghalaya     2966889
24                               Manipur     2855794
25                              Nagaland     1978502
26                                   Goa     1458545
27                     Arunachal Pradesh     1383727
28                            Puducherry     1247953
29                               Mizoram     1097206
30                            Chandigarh     1055450
31                                Sikkim      610577
32  Dadra & Nagar Haveli and Daman & Diu      586956
33                     Andaman & Nicobar      380581
34                                Ladakh      274289
35                           Lakshadweep       64473

In [8]:
df_vaccines = pd.read_excel("vaccines_jan6.xlsx")

In [9]:
# df = pd.concat([df_vaccines, df_population], ignore_index=True, sort=False)

In [10]:
df = pd.merge(df_vaccines, df_population, how='outer',left_on=['state'], right_on=['state'])

In [11]:
df.columns

Index(['Unnamed: 0', 'sr_no', 'state', 'first_dose', 'second_dose',
       'total_doses', '15_18_first_dose', 'population'],
      dtype='object')

In [12]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
df.drop('sr_no', axis=1, inplace=True)

In [14]:
df.columns

Index(['state', 'first_dose', 'second_dose', 'total_doses', '15_18_first_dose',
       'population'],
      dtype='object')

In [15]:
df = df.drop(37)
df = df.drop(38)
df = df.drop(39)

In [16]:
df.head(3)

,state,first_dose,second_dose,total_doses,15_18_first_dose,population
0,A & N Islands,303014.0,295445.0,598459.0,8198.0,NaN
1,Andhra Pradesh,40040106.0,30341059.0,70381165.0,1563014.0,49386799.0
2,Arunachal Pradesh,810353.0,654613.0,1464966.0,8685.0,1383727.0

In [17]:
# df.xs(0)['population'] = 380581.0

In [18]:
df.dtypes

state                object
first_dose          float64
second_dose         float64
total_doses         float64
15_18_first_dose    float64
population          float64
dtype: object