In [1]:
import pandas as pd

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_excel("COV_vaccine_report_6Jan.xlsx")

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df.columns = ['sr_no', 'state', 'first_dose' , 'second_dose', 'total_doses' , '15_18_first_dose']
df = df.iloc[9:]

In [4]:
df

,sr_no,state,first_dose,second_dose,total_doses,15_18_first_dose
9,1,A & N Islands,"3,03,014","2,95,445","5,98,459",8198
10,2,Andhra Pradesh,"4,00,40,106","3,03,41,059","7,03,81,165","15,63,014"
11,3,Arunachal Pradesh,"8,10,353","6,54,613","14,64,966",8685
12,4,Assam,"2,18,86,756","1,61,93,435","3,80,80,191","4,33,952"
13,5,Bihar,"5,83,66,285","4,31,60,749","10,15,27,034","11,03,844"
14,6,Chandigarh,"10,22,134","7,90,907",1813041,9586
15,7,Chhattisgarh,"1,79,34,355","1,25,20,350","3,04,54,705","6,17,822"
16,8,Dadra & Nagar,"4,13,460","2,92,652",706112,13793
17,9,HaveliDaman & Diu,"2,92,891","2,43,198",536089,8656
18,10,Delhi,"1,55,40,891","1,15,14,282","2,70,55,173","1,47,072"
19,11,Goa,"13,16,819","11,17,855",2434674,28581
20,12,Gujarat,"4,74,68,272","4,32,62,275","9,07,30,547","16,29,364"
21,13,Haryana,"2,06,56,378","1,50,81,232","3,57,37,610","4,21,616"
22,14,Himachal Pradesh,"59,18,608","55,08,907","1,14,27,515","2,11,238"
23,15,Jammu & Kashmir,"97,33,909","92,39,778","1,89,73,687","1,46,783"
24,16,Jharkhand,"1,89,11,959","1,16,24,042","3,05,36,001","2,00,360"
25,17,Karnataka,"4,81,98,999","3,93,61,397","8,75,60,396","13,38,277"
26,18,Kerala,"2,63,15,340","2,14,88,770","4,78,04,110","2,15,848"
27,19,Ladakh,"2,15,505","1,76,007",391512,4207
28,20,Lakshadweep,56116,53021,109137,1673
29,21,Madhya Pradesh,"5,27,06,649","5,04,76,682","10,31,83,331","18,84,804"
30,22,Maharashtra,"8,09,78,376","5,52,81,196","13,62,59,572","11,22,523"
31,23,Manipur,"13,32,006","10,02,222",2334228,3462
32,24,Meghalaya,"12,39,868","8,92,424",2132292,4163
33,25,Mizoram,"7,48,649","5,89,637",1338286,4678
34,26,Nagaland,"7,59,807","5,78,994","13,38,801",854
35,27,Odisha,"2,96,25,569","2,17,08,008","5,13,33,577","3,29,053"
36,28,Puducherry,"8,52,558","5,74,660",1427218,11293
37,29,Punjab,"1,73,42,939","96,70,041","2,70,12,980",18626
38,30,Rajasthan,"4,73,42,706","3,58,75,931","8,32,18,637","14,29,310"
39,31,Sikkim,"5,29,004","4,84,387",1013391,9129
40,32,Tamil Nadu,"5,05,67,082","3,47,34,530","8,53,01,612","12,17,515"
41,33,Telangana,"2,81,96,372","1,97,64,607","4,79,60,979","4,28,895"
42,34,Tripura,"25,95,487","21,38,273","47,33,760",61227
43,35,Uttar Pradesh,"13,05,03,000","7,68,83,945","20,73,86,945","12,16,167"
44,36,Uttarakhand,"78,89,943","65,21,386","1,44,11,329","2,30,067"
45,37,West Bengal,"6,50,76,804","4,22,66,237","10,73,43,041","7,36,228"
46,38,Miscellaneous,"22,37,891","15,70,599","38,08,490",0

In [5]:
import numpy as np

In [6]:
df.dtypes

sr_no               object
state               object
first_dose          object
second_dose         object
total_doses         object
15_18_first_dose    object
dtype: object

In [7]:
cols_to_check = ['first_dose', 'second_dose', 'total_doses', '15_18_first_dose']

In [8]:
df[cols_to_check] = df[cols_to_check].replace({',':''}, regex=True)

In [9]:
# df

In [10]:
df[cols_to_check] = df[cols_to_check].astype(str).astype(int)

In [11]:
df.dtypes

sr_no               object
state               object
first_dose           int64
second_dose          int64
total_doses          int64
15_18_first_dose     int64
dtype: object

In [26]:
# Next step: Making a heat map of which states have highest total doses given and 
# how that compares to how quickly 15-18 year olds are getting vaccinated